@import 'mixins';

#nav-bar {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

    .user-icon {
        @include round-icon(35px);
      }
}