$primary-color: darkgreen;
$secondary-color: crimson;
$default-color: black;

$background-color: white;
$border-color: #bbb;

$major-padding: 0 25px 25px 25px;

$minor-border-radius: 2px;

$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);